@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap'); /*fonte peguei no site google.com/fonts*/
@font-face{
	font-family: 'FonteLogo';
	src: url('../_fonts/bubblegum-sans-regular.otf');/*otf = fonte OpenType essa fonte peguei no gerenciador de arquivos.*/
}
body{
	font-family: arial, sans-serif;
	background-color: #dddddd;
	color: rgba(0,0,0,1);
}
div#interface{
	background-color: white;
	width: 900px;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5); 
	padding: 10px;
}
header#cabecalho img#icone{ /*coloca a imagem nas coordenadas passadas.*/
	position: absolute;
	left: 780px;
	top: 70px;
}
header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;/*(..)server para voltar uma pasta no gerencidor de arquivo. no-repeat serve para não repetir a imagem, 0px deslocamento diagonal 100px vertical.*/
	
}
header#cabecalho h1{
	font-family: FonteLogo, sans-serif;/*fontelogo foi criado no começo do codigo no font-face*/
	font-size: 30pt;/*30 pontos*/
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}
header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;/*font-size defini o tamanho do texto. */
	padding: 0px;
	margin-top: 0px;
} 
p{
	text-align: justify;
	text-indent: 50px;
}
a{
	color: #606060;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* Formatação de imagens com legendas */

figure.foto-legenda {
	position: relative;
	border: 8px solid white;/*tamanho tipo cor*/
	box-shadow: 1px 1px 4px black;/*criar sombra: horizontal vertical disparamento cor*/
}
figure.foto-legenda img{
	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,0.4);/*cria uma transparencia atras da legenda da imagem.*/
	color: white;/*a letra fica branca.*/
	width: 100%;/*isso faz com que todo o fundo trnasparente cubra a foto 100%*/
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{ 
	opacity: 1;
}

/*Formatação do menu*/

nav#menu{
	display: block;/*um bloco pode flutuar pela tela.*/
}
nav#menu ul{
	list-style: none; /*irá remover os pontos no inicio dos itens da lista.*/
	text-transform: uppercase; /*todas as letras ficam maiusculas.*/
	position: absolute; /*para passar em cima dos documentos e aparecer em qualquer parte do site.*/
	top: -20px;
	left: 300px;
}
nav#menu li{
	display: inline-block; /*os itens da lista ficam um do lado do outro.*/
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: 1s;
}
nav#menu li:hover{ /*quando o mouse passar em cima,o background-color muda de cor. */
	background-color: #606060;
}

nav#menu h1{
	display: none;
}

nav#menu a{
	color: #000000;
	text-decoration: none;
}
nav#menu a:hover{
	color: white;
}

section#corpo{
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060; /*cria uma linha no lado direito do section*/
	padding-right: 15px;
}	
article#noticia-principal h2{
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}
header#cabecalho-artigo h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}
header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin-top: 0px;
}
header#cabecalho-artigo h3{
	font-size: 12px;
	color: #606060;
}
header#cabecalho-artigo h3.direita{
	text-align: right;
}
table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px; /*remove o espaço entre os td*/
	margin-left: auto;
	margin-right: auto;
}
table#tabelaspec td{
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}
table#tabelaspec td.ce{  /*tag <table> com id "tabelaaspec" e tag <td> com class "ce"*/
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
	text-align: right;
}
table#tabelaspec td.cd{
	background-color: #cecece;
	text-align: left;
}
table#tabelaspec caption{  /*configurando a tag <caption>*/
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}
table#tabelaspec caption span{
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral{
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
aside#lateral h1{
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}
aside#lateral h2{
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;
}
footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
}
footer#rodape p{
	text-align: center;
}
